.services {
    background-color: #fff;
    text-align: center;
  }
  
  .services h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .services ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .services ul li {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    margin: 10px;
  }
  
  .services ul li:hover {
    background-color: #0056b3;
  }
  